Package: lliurex-meta-client-nonedu
Architecture: any
Lliurex-Flavours: client
Depends: ${shlibs:Depends}, ${misc:Depends}, ${germinate:Depends}
Recommends: ${germinate:Recommends}
Description: MetaPackage of Lliurex
List of all packages for lliurex

